<a class="wrapper" href="{{ .Permalink }}">
  {{ partial "thumbnail" . }}
  <div class="text">
    <p class="headline">{{ .Title }}</p>
    <p class="subheader">
      <span class="date">{{ partial "event-date" . }}</span>
      <br/>
      <span class='location'>{{ .Params.metadata.event.location }}</span>
    </p>
  </div>
</a>
