<aside class="search-results" id="search">
      <div class="container body-width">
        <section class="search-header">

          <div class="search-title">
            <h1>{{ i18n "search" }}</h1>
            <a class="search-close" href="#" onclick="document.querySelector('body').classList.toggle('searching'); return false;">Fechar</a>
          </div>

          <div id="search-box">
            <label for='search-query'>Termo de pesquisa:</label>
            <input
                name="q"
                id="search-query"
                placeholder="{{i18n "search_placeholder"}}"
                autocapitalize="off"
                autocomplete="off"
                autocorrect="off"
                spellcheck="false"
                type="search"
            >
          </div>

        </section>
        <section class="section-search-results">
          <div id="search-hits">
            <!-- Search results will appear here -->
          </div>
        </section>
      </div>
    </aside>
