{{- define "main" -}}

{{ $image := (.Resources.ByType "image").GetMatch "*cover*" }}
<article class="article">
  <h1>{{ .Title }}</h1>

  {{ if and $image (not (eq .Params.showcover false)) }}
  <img src="{{ $image.RelPermalink }}" alt="" class="featured-image" style="max-width: 100px;">
  {{ end }}

  <div class="article-container">
    <div class="article-style">
      {{ .Content }}

      <h3>Informação do evento</h3>

      <p>
        <strong>Data:</strong>
        {{ partial "event-date" . }}
      </p>

      {{ with .Params.metadata.event.site }}
        <p><strong>Website:</strong> <a href="{{ .url }}">{{ .title | or .url }}</a></p>
      {{ end }}

      {{ with .Params.metadata.event.location }}
        <p><strong>Local:</strong> {{ . }}</p>
      {{ end }}
    </div>

    {{ partial "page_footer" . }}

  </div>
</article>
{{- end -}}
