{{- define "main" -}}

{{ partial "page_header.html" . }}

<div class="universal-wrapper body-width">
  {{ with .Content }}
  <div class="article-style">{{ . }}</div>
  {{ end }}

  {{ $paginator := .Paginate .Data.Pages }}
  {{ range $paginator.Pages }}
    <div style='display: flex; gap: 2em; margin-top: 2em;'>
      <div style='width: 200px;'>
        {{ with (.Resources.ByType "image").GetMatch "*cover*" }}
          <img class='campaign-cover' src="{{ .Permalink }}" style='max-width: 200px; object-fit: contain;' alt='' />
        {{ end }}
      </div>
      <div>
        <h2><a href="{{.RelPermalink}}">{{ .Title }}</a></h2>
        <div class="article-style">
          {{ if .Params.summary }}
            {{ .Params.summary | plainify | emojify }}
          {{ else if .Params.abstract }}
            {{ .Params.abstract | plainify | emojify | truncate 250 }}
          {{ else if .Summary }}
            {{ .Summary | plainify | emojify }}
          {{ end }}
        </div>
      </div>
    </div>
  {{ end }}

  {{ partial "pagination" . }}
</div>

{{- end -}}
